<template>
  <v-dialog v-model="isOpened" width="1000">
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Пользовательское соглашение
      </v-card-title>

      <v-card-text>
        <p>
          Я, субъект персональных данных, в соответствии с Федеральным законом
          от 27 июля 2006 года № 152 «О персональных данных» предоставляю
          согласие на обработку персональных данных, указанных мной в форме на
          сайте в сети «Интернет», владельцем которого является Оператор.
        </p>
        <p>
          Под персональными данными субъекта персональных данных понимается
          нижеуказанная общая информация: ФИО, адрес электронной почты и номер
          телефона, контакт социальной сети или мессенджера.
        </p>
        <p>
          Принимая настоящее Соглашение, я выражаю свою заинтересованность и
          полное согласие, что обработка персональных данных может включать в
          себя следующие действия: сбор, систематизацию, накопление, хранение,
          уточнение (обновление, изменение), использование, передачу
          (предоставление, доступ), блокирование, удаление, уничтожение,
          осуществляемых как с использованием средств автоматизации
          (автоматизированная обработка), так и без использования таких средств
          (неавтоматизированная обработка).
        </p>
        <p>
          Я понимаю и соглашаюсь с тем, что предоставленная информация, является
          полной, точной и достоверной; при предоставлении информации не
          нарушается действующее законодательство Российской Федерации, законные
          права и интересы третьих лиц; вся предоставленная информация заполнена
          мною в отношении себя лично; информация не относится к
          государственной, банковской и/или коммерческой тайне, информация не
          относится к информации о расовой и/или национальной принадлежности,
          политических взглядах, религиозных или философских убеждениях, не
          относится к информации о состоянии здоровья и интимной жизни.
        </p>
        <p>
          Я понимаю и соглашаюсь с тем, что Оператор не проверяет достоверность
          персональных данных, предоставляемых мной, и не имеет возможности
          оценивать мою дееспособность и исходит из того, что я предоставляю
          достоверные персональные данные и поддерживаю такие данные в
          актуальном состоянии.
        </p>
        <p>Я подтверждаю, что не являюсь резидентом стран ЕС.</p>
        <p>
          Согласие действует по достижении целей обработки или в случае утраты
          необходимости в достижении этих целей, если иное не предусмотрено
          федеральным законом.
        </p>
        <p>
          Согласие может быть отозвано мною в любое время на основании моего
          письменного заявления.
        </p>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" flat @click="isOpened = false">
          {{ $t("page-quiz.i-accept") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: "PrivacyPolicyDialog",

  props: {
    isActive: {
      type: Boolean,
      required: true
    }
  },

  computed: {
    isOpened: {
      get() {
        return this.isActive;
      },
      set(value) {
        this.$emit("close", value);
      }
    }
  }
};
</script>
